body {
    font-family: 
        "Comic Sans MS",
        "Chalkboard SE",
        "Comic Neue",
        "Kristen ITC",
        "Trebuchet MS",
        "Verdana",
        sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

#profile-img {
    width: 150px;
    border-radius: 50%;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 50%;
}

body.dark {
    font-family: 
        "Comic Sans MS",
        "Chalkboard SE",
        "Comic Neue",
        "Kristen ITC",
        "Arial",
        "Tahoma",
        sans-serif;
    background-color: #121212;
    color: #f5f5f5;
}
