body {
  font-family: "Comic Sans MS", "Chalkboard SE", "Comic Neue", "Kristen ITC", "Trebuchet MS", "Verdana", sans-serif;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 20px;
}

header { text-align: center; margin-bottom: 30px; }
#profile-img { width: 150px; border-radius: 50%; }
button { padding: 10px 20px; margin-top: 10px; cursor: pointer; border-radius: 50%; }

#song-btn {
  padding: 12px 18px;
  border-radius: 20px;
  background-color: #1db954;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 15px;
}
#song-btn:hover { transform: scale(1.05); }

body.dark { background-color: #121212; color: #f5f5f5; }
